<ion-header>
  <ion-toolbar>
    <ion-title>Technologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1><b>HTML</b></h1>
<p>I have used HTML quite a few times, and have just recently us it. </p>
<h1><b>CSS</b></h1>
<p>CSS is also one of the few languages I have used for making small programs for my previous classes</p>
<h1><b>VISUAL STUDIO CODE </b></h1>
<p>This is the editing tool I have been using for my developing some apps. </p>
<h1><b>IONIC</b></h1>
<p>I have just recenetly started using Ionic, so my understanding on its concept is not yet up to par.</p>
</ion-content>